<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="d-flex" aria-hidden="true">
                    <div><i class="bi bi-list-task fs-3"></i></div>
                    <div class="fs-4">All Tasks</div>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-5">
            <NavLink class="nav-link" href="editTask">
                <div class="d-flex" aria-hidden="true">
                    <div><i class="bi bi-file-plus-fill fs-3"></i></div>
                    <div class="fs-4">Add New Task</div>
                </div>
            </NavLink>
        </div>
    </nav>
</div>
